# .env.example
NEO4J_URI="bolt://localhost:7688"
NEO4J_USER="neo4j"
NEO4J_PASSWORD="your_neo4j_password"

CHROMA_PATH="./chroma_db_storage"
OLLAMA_MODEL="llama3.2"
TEXTBOOK_FOLDER="./biology_textbook"

POSTGRES_URI="postgresql://myuser:mypassword@localhost:5432/langgraph_state"

LANGSMITH_TRACING="true"
LANGSMITH_PROJECT="Biology_GraphRAG_V1"
LANGSMITH_API_KEY="your_langsmith_api_key_here"